@import "variables";

.cb-full {
  .cb-header  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.page-about {
  body {
    background-color: $brand-secondary;
  }
  .cb-header  {
    @media (min-width: 992px) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
}

.cb-header {
  padding: rem(28px) rem(20px) 0;
  display: flex;

  @media (min-width: 768px) {
    padding: rem(43px) rem(42);
  }

  .cb-logo {
    width: 140px;
  }

  a {
    font-size: rem(20);

    &:hover {
      text-decoration: none;
      font-style: italic;
    }

    &::after {
      content: "\0000a0";
    }
  }
}


.cb-nav {
  display: flex;
  padding: 0 rem(10);
  gap: 20px;
  margin-left: auto;

  @media (min-width: 768px) {
    padding: 0 rem(50);
    margin: 0;
  }

  @media (min-width: 992px) {
    padding: 0 20%;
  }
}

.btn {
  &-info {
    background: transparent;
    outline: none;
    border: none;
    padding: 0;
    font-size: rem(20);
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: $brand-primary;

    &::after {
      content: "\0000a0";
    }

    &:hover {
      text-decoration: none;
      font-style: italic;
    }

    @media (min-width: 768px) {
      position: relative;
      left: auto;
      bottom: auto;
    }
  }
}