<!DOCTYPE html>
<html @@if(context.type){class=@@type} lang="en"> <!-- dir="rtl" -->
<head>
  <!-- Site Title -->
  <title>@@if(context.titlePage){@@titlePage}@@if(!context.titlePage){Title}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon-precomposed" href="">
  <!-- <meta name="theme-color" content="#2775FF"> -->
  <meta name="keywords" content="themeforest, theme, html, template"/>
  <meta name="description" content="themeforest, theme, html, template"/>

  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

<header class="cb-header">
    <a class="cb-logo" href="index.html">Chanya Button</a>

    <nav class="cb-nav">
        <a class="@@activeclassWork" href="work.html">Work</a>
        <a class="@@activeclassAbout" href="about.html">About</a>
    </nav>

    @@if (context.type == 'cb-full-item') {
        <button class="btn btn-info">Info</button>
    }

</header>
